output/HelloWorldRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
xmlns:tns="http://www.example.org/HelloWorldRequest" 
targetNamespace="http://www.example.org/HelloWorldRequest">

    <element name="sayGreetings">
    	<complexType>
    		<sequence>
    			<element id="name" name="name" minOccurs="1" maxOccurs="1" type="string"/>
    			<element id="gender" name="gender" minOccurs="1" maxOccurs="1" type="string"/>
    		</sequence>
    	</complexType>
    </element>
</schema>